*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

.viewport{
    position: relative;
    border: 3px solid black;
    height: 650px;
    width: 650px;

}

.selection-wrapper {
    box-sizing: content-box;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0px;
    width: 100%;
    height: 150px;
    filter: url('#goo');
    padding: 2rem 0;
}

.item-bar {
    height: 100%;
    width: 100%;
    background: chocolate;
    position: absolute;
}

.selection-item {
    position: relative;
    cursor: pointer;
    background: inherit;
    width: 150px;
    flex-grow: 0;
    height: 150px;
    transition: all 600ms ease-in-out;
    margin-top: 0;
    background-image: url('./Images/color-wheel.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.selected {
    position: absolute;
    margin-top: 20rem;
    justify-self: center;
    width: 50%;
    background-color: transparent;
}
